body, #content{
    font-family: 'Fondamento', 'Georgia';
    background-color: rgb(0, 0, 0);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#title-container {
    display: flex;
    /*border: solid #fff;*/
}

.move-title {
    text-align: center;
    font-family: 'Fondamento', sans-serif, cursive;
    position: relative;
    padding-top: 3rem;
}
.move-title span {
    position: relative;
    display: inline-block;
    font-size: 6rem;
    color: #fff;
    animation: flip 2s 3;
    animation-delay: calc(.2s * var(--i))display;
    padding-top: 100px;
}

#welcome-box, .opening-intro {
    font-size: 2.5rem;
    color:#fff;
}

#welcome-box {
    margin-bottom: -50px;
}

.opening-intro {
    /*border: solid #fff;*/
}

.fade-in-intro {
    opacity: 0;
    animation: fade-in 1s linear forwards;
    animation-delay: 1s;
}

.fade-in-p {
    opacity: 0;
    animation: fade-in 2s linear forwards;
    animation-delay: 3s;
}

#delayPlay {
    opacity: 0;
    animation: show-text forwards;
    animation-delay: 6s;
    background-color:black;
    color:#fff;
    border: 3px solid white;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    padding: 10px 20px;
    font-size: 36px;
    margin-top: 20px;
}

#delayPlay:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }


@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes show-text {
    to {
      opacity: 1;
    }
  }

body * {
    opacity: 1;
    transition: opacity 0.5 ease;
}

body *.vanish {
    opacity: 0;
}

.pro-container {
    display: block;
    justify-content: center;
    align-items: center;
}

.pro-intro {
    opacity: 0;
    animation: reveal 7s forwards;
    animation-delay: 1s;
    color:#fff;
    font-size: 4.5rem;
    margin-block-start: 4.5em;
}
  
  @keyframes reveal {
    0% {
        opacity: 0;
        transform: translateZ(-1px);
    }
    50% {
        opacity: 1;
        transform: translateZ(0);
    }
    100% {
        opacity: 0;
        transform: translateZ(1px);
        display: none;
    }
    
  }

.witch-house {
    position: fixed;
    opacity: 0;
    animation: image-reveal 2s ease-in-out 6s forwards; 
    height: auto;
    width: 100%;
    max-height: 400px;
    max-width: 600px;
    margin-top: 50px;
}
 
@keyframes image-reveal {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.witch-house img {
    display: block; /* ensures the image is a block element */
    width: 100%; /* ensures the image width scales with the container */
    height: auto; /* maintains the image's aspect ratio */
  }

.textbox1 {
    position: fixed;
    opacity: 0;
    animation: image-reveal 2s ease-in-out 6s forwards; 
    color:#fff;
    height: auto;
    width: 100%;
    max-height: 1200px;
    max-width: 600px;
    margin-top: 30rem;
}

.textbox1 p {
    font-size: 1.5rem;
}

.cottage-button-container {
    display: block;
    margin-top: 13rem;
}

#enter-cottage {
    opacity: 0;
    animation: show-text forwards;
    animation-delay: 12s;
    background-color:black;
    color:#fff;
    border: 3px solid white;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    padding: 5px 5px;
    font-size: 30px;
    margin-top: 20px;
}

#enter-cottage:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

@keyframes show-text {
    to {
      opacity: 1;
    }
  }
